/* Additional Resume CSS */

p {
	color: var(--color-primary);
	font-family: var(--font-text);
	margin-left: 6rem;
	padding: 0 1rem;
	font-size: 1rem;
}

li {
	font-family: var(--font-text);
	font-size: 1rem;
	color: var(--color-primary);
	margin-bottom: 0.5rem;
	margin-left: 8rem;
	text-align: left;
	word-break: break-word;
	padding: 0.5rem;
}

h3 {
	font-size: 1rem;
	color: var(--color-primary);
	font-family: var(--font-text);
	margin-left: 6rem;
	padding: 1rem;
	font-weight: 500;
}

.resume {
	padding: 1rem;
}

.date {
	padding-left: 1rem;
	color: #888;
	font-weight: 300;
}

.resume_title {
	margin: 2rem;
}

.photo_section {
	width: 9rem;
	height: 12rem;
	overflow: hidden;
	position: relative;
	margin: 2rem auto;
	box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.107);
	border-radius: 3px;
}

.photo_section img {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	object-position: center center;
}

.section_title {
	font-family: var(--font-title);
	font-size: 1.1rem;
	margin: 0 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-align: left;
	position: relative;
}

.section_title::after {
	content: '';
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	height: 2px;
	background: linear-gradient(90deg, var(--color-gradient1), var(--color-gradient4));
	background-size: 150% 150%;
	animation: gradientMove 5s ease-in-out infinite;
}

html[lang="en"] .section_title#about:after {
	width: 5rem;
}

html[lang="en"] .section_title#soft:after {
	width: 4.7rem;
}

html[lang="en"] .section_title#hard:after {
	width: 5.2rem;
}

.section_title#formation:after {
	width: 5.4rem;
}

.section_title#experience:after {
	width: 5.6rem;
}

html[lang="en"] .section_title#languages:after {
	width: 5.8rem;
}

.section_title#information:after {
	width: 6.1rem;
}

html[lang="fr"] .section_title#à_propos:after {
	width: 4.7rem;
}

html[lang="fr"] .section_title#etre:after {
	width: 5.8rem;
}

html[lang="fr"] .section_title#faire:after {
	width: 6.1rem;
}

html[lang="fr"] .section_title#langues:after {
	width: 4.4rem;
}

.resume_item h3 {
	padding-top: 0;
	padding-bottom: 0;
}

.resume_item p {
	padding-bottom: 2rem;
	font-weight: 300;
}

.download_section {
	padding: 4rem 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

.download_section a {
	font-family: var(--font-text);
	font-size: clamp(1.2rem, 1.5vw, 2.2rem); /* Taille responsive avec clamp */
	font-weight: 400;
	color: var(--color-primary);
	letter-spacing: -0.0175rem;
	text-decoration: underline;
	display: inline-block;
	transform: all 0.3s ease;
}

.footer {
	width: 100%;
	background: linear-gradient(105deg, var(--color-gradient1), var(--color-gradient2) 40%, var(--color-gradient3), var(--color-gradient4));
	padding: 2rem 1rem;
	text-align: center;
}

/* Light theme styles */
body:not(.dark-theme) {
	background-color: var(--color-primary);
}

body:not(.dark-theme) :not(.footer) h1,
body:not(.dark-theme) :not(.footer) h2,
body:not(.dark-theme) :not(.footer) h3,
body:not(.dark-theme) :not(.footer) li,
body:not(.dark-theme) :not(.footer) p {
	color: var(--color-secondary);
	font-weight: 500;
}

body:not(.dark-theme) .download_section a{
	color: var(--color-secondary);
	font-weight: 500;
}

body:not(.dark-theme) .download_section a:hover{
	color: var(--color-gradient1);
}

body:not(.dark-theme) .photo_section {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

/* Base styles for desktop (≥1024px) */
@media screen and (min-width: 1024px) {

	p {
		margin-left: 15rem;
		padding: 0 2rem;
		max-width: 65%;
		font-size: 1.2rem;
	}

	li {
		margin-left: 18rem;
		padding: 0.5rem 2rem;
		max-width: 65%;
		font-size: 1.3rem;
	}

	h3 {
		margin-left: 15rem;
		padding: 1rem 2rem;
		font-size: 1.2rem;
	}

	.download_section a {
		font-size: 1.5rem;
		padding: 4rem 0;
	}

	.download_section a:hover {
		color: var(--color-gradient1);
		transform: translateY(-2px);
	}

	.resume_title {
		margin: 5rem 0 15rem 15rem;
		font-size: 3rem;
		text-align: left;
	}

	.photo_section {
		width: 10rem;
		height: 13rem;
		margin: 0;
		position: absolute;
		top: 9.5rem;
		left: 65%;
		transform: translateX(-50%);
	}

	.section_title {
		margin-left: 6rem;
		font-size: 1.5rem;
		margin-top: 2.5rem;
	}

	.resume_item h3 {
		padding-top: 0.5rem;
	}

	.resume_item p {
		padding-bottom: 2.5rem;
	}

	html[lang="en"] .section_title#about:after {
		width: 6.8rem;
	}

	html[lang="en"] .section_title#soft:after {
		width: 6.5rem;
	}

	html[lang="en"] .section_title#hard:after {
		width: 7.1rem;
	}

	.section_title#formation:after {
		width: 7.3rem;
	}

	.section_title#experience:after {
		width: 7.8rem;
	}

	html[lang="en"] .section_title#languages:after {
		width: 8.1rem;
	}

	.section_title#information:after {
		width: 8.3rem;
	}

	html[lang="fr"] .section_title#à_propos:after {
		width: 6.3rem;
	}

	html[lang="fr"] .section_title#etre:after {
		width: 8rem;
	}

	html[lang="fr"] .section_title#faire:after {
		width: 8.3rem;
	}

	html[lang="fr"] .section_title#langues:after {
		width: 6rem;
	}

	html[lang="fr"] .menu a[href="index_fr.html#Home"]:hover::after {
		width: 4rem;
	}

	html[lang="fr"] .menu a[href="index_fr.html#About"]:hover::after {
		width: 4.7rem;
	}

	html[lang="fr"] .menu a[href="index_fr.html#Work"]:hover::after {
		width: 4rem;
	}

	html[lang="fr"] .menu a[href="index_fr.html#Contact"]:hover::after {
		width: 4.5rem;
	}

	html[lang="en"] .menu a[href="index_en.html#Home"]:hover::after {
		width: 2.8rem;
	}

	html[lang="en"] .menu a[href="index_en.html#About"]:hover::after {
		width: 3.2rem;
	}

	html[lang="en"] .menu a[href="index_en.html#Work"]:hover::after {
		width: 5rem;
	}

	html[lang="en"] .menu a[href="index_en.html#Contact"]:hover::after {
		width: 4.5rem;
	}
}

/* Styles for large desktop (≥1440px) */
@media screen and (min-width: 1440px) {
	body {
		padding-top: 4rem;
	}

	p {
		font-size: 1.5rem;
		margin-left: 16rem;
	}

	li {
		font-size: 1.6rem;
		margin-left: 19.5rem;
	}

	h3 {
		font-size: 1.5rem;
		margin-left: 16rem;
	}

	.resume_section {
		margin-left: 8rem;
	}

	.resume_title {
		margin: 5rem 0 15rem 23rem;
	}

	.download_section a {
		font-size: 1.8rem;
		padding: 6rem 0;
	}

	.resume_title {
		font-size: 3.5rem;
	}

	.photo_section {
		width: 12rem;
		height: 15rem;
	}

	.section_title {
		font-size: 1.8rem;
	}

	/* Utiliser calc() pour les underlines */
	html[lang="en"] .section_title#about:after {
		width: calc(6.8rem * 1.2);
	}

	html[lang="en"] .section_title#soft:after {
		width: calc(6.5rem * 1.2);
	}

	html[lang="en"] .section_title#hard:after {
		width: calc(7.1rem * 1.2);
	}

	.section_title#formation:after {
		width: calc(7.3rem * 1.2);
	}

	.section_title#experience:after {
		width: calc(7.8rem * 1.2);
	}

	html[lang="en"] .section_title#languages:after {
		width: calc(8.1rem * 1.2);
	}

	.section_title#information:after {
		width: calc(8.3rem * 1.2);
	}

	html[lang="fr"] .section_title#à_propos:after {
		width: calc(6.3rem * 1.2);
	}

	html[lang="fr"] .section_title#etre:after {
		width: calc(8rem * 1.2);
	}

	html[lang="fr"] .section_title#faire:after {
		width: calc(8.3rem * 1.2);
	}

	html[lang="fr"] .section_title#langues:after {
		width: calc(6rem * 1.2);
	}
}

/* Styles for extra large desktop (≥1920px) */
@media screen and (min-width: 1920px) {

	body {
		padding-top: 5rem;
	}

	p {
		margin-left: 25rem;
		font-size: 1.8rem;
	}

	li {
		margin-left: 28rem;
		font-size: 1.9rem;
	}

	h3 {
		margin-left: 25rem;
		font-size: 1.8rem;
	}

	.header {
		height: 5rem;
	}

	.resume_section {
		margin-left: 10rem;
	}

	.resume_title {
		margin: 5rem 0 18rem 33rem;
		font-size: 4rem;
	}

	.download_section a {
		font-size: 2rem;
		padding: 8rem 0;
	}

	.photo_section {
		width: 14rem;
		height: 18rem;
	}

	.section_title {
		margin-left: 12rem;
		font-size: 2rem;
	}

	/* Utiliser calc() pour les underlines */
	html[lang="en"] .section_title#about:after {
		width: calc(6.8rem * 1.4);
	}

	html[lang="en"] .section_title#soft:after {
		width: calc(6.5rem * 1.4);
	}

	html[lang="en"] .section_title#hard:after {
		width: calc(7.1rem * 1.4);
	}

	.section_title#formation:after {
		width: calc(7.3rem * 1.4);
	}

	.section_title#experience:after {
		width: calc(7.8rem * 1.4);
	}

	html[lang="en"] .section_title#languages:after {
		width: calc(8.1rem * 1.4);
	}

	.section_title#information:after {
		width: calc(8.3rem * 1.4);
	}

	html[lang="fr"] .section_title#à_propos:after {
		width: calc(6.3rem * 1.4);
	}

	html[lang="fr"] .section_title#etre:after {
		width: calc(8rem * 1.4);
	}

	html[lang="fr"] .section_title#faire:after {
		width: calc(8.3rem * 1.4);
	}

	html[lang="fr"] .section_title#langues:after {
		width: calc(6rem * 1.4);
	}
}