/* Additional Resume CSS */

p {
	color: var(--color-primary);
	font-family: var(--font-text);
	margin-left: 6rem;
	padding: 0 1rem;
}

li {
	font-family: var(--font-text);
	font-size: 1rem;
	color: var(--color-primary);
	margin-bottom: 0.5rem;
	margin-left: 8rem;
	text-align: left;
	word-break: break-word;
	padding: 0.5rem;
}

h3 {
	font-size: 1rem;
	color: var(--color-primary);
	font-family: var(--font-text);
	margin-left: 6rem;
	padding: 1rem;
	font-weight: 500;
}

.date {
	padding-left: 1rem;
	color: #888;
	font-weight: 300;
}

.resume_title {
	margin: 2rem;
}

.photo_section {
	width: 9rem;
	height: 12rem;
	overflow: hidden;
	position: relative;
	margin: 2rem auto;
	box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.107);
	border-radius: 3px;
}

.photo_section img {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	object-position: center center;
}

.section_title {
	font-family: var(--font-title);
	font-size: 1.1rem;
	margin: 0 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	text-align: left;
	position: relative;
}

.section_title::after {
	content: '';
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	height: 2px;
	background: linear-gradient(90deg, var(--color-gradient1), var(--color-gradient4));
	background-size: 150% 150%; /* Permet un effet de mouvement */
	animation: gradientMove 5s ease-in-out infinite;
}

html[lang="en"] .section_title#about:after {
	width: 5rem;
}

html[lang="en"] .section_title#soft:after {
	width: 4.7rem;
}

html[lang="en"] .section_title#hard:after {
	width: 5.2rem;
}

.section_title#formation:after {
	width: 5.4rem;
}

.section_title#experience:after {
	width: 5.6rem;
}

html[lang="en"] .section_title#languages:after {
	width: 5.8rem;
}

.section_title#information:after {
	width: 6.1rem;
}

html[lang="fr"] .section_title#à_propos:after {
	width: 4.7rem;
}

html[lang="fr"] .section_title#etre:after {
	width: 5.8rem;
}

html[lang="fr"] .section_title#faire:after {
	width: 6.1rem;
}

html[lang="fr"] .section_title#langues:after {
	width: 4.4rem;
}


.resume_item h3 {
	padding-top: 0;
	padding-bottom: 0;
}

.resume_item p {
	padding-bottom: 2rem;
	font-weight: 300;
}

.download_section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem;
}

.download_section a {
	font-family: var(--font-text);
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--color-primary);
	letter-spacing: -0.0175rem;
	text-decoration: underline;
}


/* Light theme styles */

body:not(.dark-theme) {
	background-color: var(--color-primary);
}

body:not(.dark-theme) :not(.footer) h1,
body:not(.dark-theme) :not(.footer) h2,
body:not(.dark-theme) :not(.footer) h3,
body:not(.dark-theme) :not(.footer) li,
body:not(.dark-theme) :not(.footer) p {
	color: var(--color-secondary);
	font-weight: 500;
}

.download_section a{
	color: var(--color-secondary);
	font-weight: 500;
}

body:not(.dark-theme) .photo_section {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

/*
@media screen and (min-width: 768px) {

*/